body {
    background-color: burlywood;
}
 #nav-bar {
     height: 100px;
     width: 100%;
     text-align: center;
     padding-top: 75px;
 }

 div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}